<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your finished TODOS</title>
    <style>
        table,th,td{border:1px solid #cccccc}
        #finishedtable{
           margin-left: 10%;
        }
 
    </style>
</head>
<body>
    <!-- Sidebar -->
    <button class="openbtn" onclick="openSidebar()" id="openbtn">&#9776;</button>

    <!-- Tabelle von abgeschlossenen TODOS -->
    <table id="finishedtable" width="80%" height="150">
        <tr>
            <th width="55%">ToDo</th>
            <th>finished: </th>
        </tr>
        <% finishedToDos.forEach(todo =>{%>
            <tr>
                <td><%= todo.content%></td>
                <td><%= todo.completed%></td>
            </tr>
        <%})%>
    </table>
</body>
</html>