<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<style>
     .erledigt{
            background-color: green;
        }

    .problem{
        background-color: red;
    }

    .important{
        background-color: cyan;
    }

    .difficult{
        background-color: pink;
    }
</style>
<body>
    <h1 style="text-align: center;"><strong>Coding-Tasks</strong></h1>
    <ul>
        <li class="erledigt">Mitglieder anzeigen</li>
        <li>Admin Funktionen (Mitglieder hinzufügen/entfernen/Team löschen/bearbeiten)</li>
        <li class="erledigt">Eventuell einstellen, ob alle Einträge, die älter als 7 Tage sind gelöscht werden</li>
        <li class="erledigt">Eigenen Cache leeren (alle eigenen Einträge im PersonalCalendar die älter als 7 Tage sind löschen)</li>
        <li class="erledigt">Methode rausfinden, um mithilfe des Date-Strings und Date.now rauszufinden welche Einträge älter als 7 Tage sind</li>
        <li class="erledigt">Search Bar Termine löschen</li>
        <li class="important">Bereits vorhandene Einträge bearbeiten</li>
        <li class="erledigt">Lösch und Speichersystem der Teams auch auf Persönlichen Kalender übertragen</li>
        <li>Accounts löschen & System beim löschen der Daten des Users bei der Account-Löschung überarbeiten</li>
        <li class="erledigt">Erkenntlich machen in welchem Team man sich befindet</li>
        <li class="erledigt">Feature: Persönliche Default-Farbe einstellen</li>
           <li>evtl. Farb-Shortcuts, welche zum schnelleren Bedienen der Farbauswahl führen (Persönliche und in jedem Team)</li>
        <li>Feature: Standardansicht sowohl auf MobileDevices als auch auf dem PC einstellen</li>
        <li class="erledigt">Design-Bug-Fixes besonders im Bereich des Responsive-Designs (viele Tests mit verschiedenen Bildschirmgrößen)</li>
        <li class="erledigt">Einstellen, dass man aus einem Team austreten kann</li>
        <li class="erledigt">Landing-Page</li>
        <li></li>
        <li></li>
        <li>Team-Feature: Farben-Rules (Mitgliedern des Teams feste Farbe zuweisen, welche sie ausschließlich nutzen können.</li>
        <li>Sicherheitslücken überprüfen und schließen (anschauen von fremden Kalendern/posten in Fremde Kalender)</li>
        <li class="erledigt">Email Validation mit 4 stelligem Code (mit Math.random erstellen, speichern und anschließend versenden)</li>
        <li>Darkmode</li>
        <li>Notizen für das Team (in DB speichern + evtl. nur vom Admin bearbeitbar)</li>
        <li>Benachrichtigungen(von der Website)</li>
        <li>Eintellungen zu den Benachrichtigungen (Benachrichtigungen generell oder nur für Bestimmte Gruppen/Teams ausstellen)</li>
        <li>Mitglieder wird eine Beitrittsanfrage fürs Team geschickt, welche sie zunächst bestätigen müssen</li>
        <li>Zeitzone PersonalCalendar wählen und evtl. Sprache im Kalender ein wenig anpassen (auf die Sprache)</li>
        <li>Beschränkung der Login Anfragen für mehr sicherheit (max. 10 falsche um hacking-angriffe zu vermeiden)</li>
        <li>Introduction/Help</li>
        <li>Zu und Absagen zu Terminen (eventuell mit begründung)</li>
        <li>Mitglieder zu weiteren admins machen</li>
        <li>Registrierung: schon vor der Registration prüfen, ob der name verfügbar ist</li>
        <li>Name: max-length</li>
        <li>Auswählen ob wochenenden angezeigt werden sollen (z.B. für Unternehmen)</li>
        <li></li>
        <li>Auswertungs Statistiken für die ToDo-Liste (Wann am meisten abgeschlossen/ durchschnittliche dauer bis zur Fertigstellung)</li>
        <li>Auswertungs Statistiken für den Persönlichen Kalender ("Vollster Wochentag" / durchschnittliche Termine pro Tag)</li>
        <li>Persönlicher Kalendar: Definieren, ob der Termin Freizeit, Arbeit oder Sonstiges ist</li>
        <li class="difficult">Algorithmus bauen, der analysiert, an welchem Tag der User mehr Freizeit benötigt und wo der User neue Termine am Besten hinlegen sollte</li>
        <li class="difficult">Anhand von User Aktivitäten und Auswahl der Kategorie ein Userprofil erstellen (unter anderem mit Hobbys/Vorlieben etc.)</li>
    </ul>
</body>
</html>