<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team-Calendar</title>
  <style>
    html{
      background-color: lightcyan;
    }
    .container{
      text-align: left;
    }
  </style>
</head>
<body>
  <!-- Simple Welcome Page -->
   <div class="container">
     <h2 style="text-align: center;">TeamCalendar - Start your journey</h2>
     <p>Empfehlung: Lesen Sie sich zunächst die gesamte kurze Einführung durch, bevor Sie mit den Schritten starten</p>
     <span><h4>Schritt 1 - Registrieren:</h4> Um unseren Dienst nutzen zu können erstellen sie zunächst ein kostenfreies Profil(<a href="/users/register">Registrieren</a>). Hierbei sollten sie beachten, dass sowohl der Nutzername (nicht zulässige Zeichen im Benutzernamen:  <>|$%&,*+/(){[]}"' ), als auch die Email Adresse noch nicht registriert worden sein darf. Des Weiteren muss das Passwort mindestens 6 Zeilen lang sein. Ihre Daten werden nach der Registration von uns gespeichert und nicht an Dritte weitergegen.</span><br>
     <span><h4>Schritt 2 - Validieren:</h4> Sie werden nach der Registrierung automatisch eingeloggt und erhalten und erhalten einen 4-stelligen Code per Email zugesendet. Diesen müssen sie nun eingeben und nach Abschluss dessen ist ihr Account freigeschaltet. Falls sie keine Email erhalten haben sollten, überprüfen sie ihren Spamfilter und fordern sie gegebenenfalls eine neue an. (Notiz: Falls es einen serverseitigen Fehler beim Versenden der Email gibt, fordern sie eine neue Email an. Dann bekommen Sie den Code automatisch angezeigt)</span>
     <span><h4>Schritt 3 - Experimentieren:</h4> Nun nachdem Sie den vollen Zugriff auf ihren Account haben, empfehlen wir Ihnen sich zunächst experimentell mit unseren Diensten vertraut zu machen. Erstellen sie zunächst einen Termin in ihrem persönlichen, nur für sie einsehbaren, Terminkalender oder manifestieren Sie ihr erstes ToDo in ihrer persönlichen, nur für sie einsehbaren, ToDo-Liste</span>
     <span><h4>Schritt 4 - Organisieren:</h4> Wenn sie mit dem System vertraut sind empfehlen wir ihnen unsere Team-Features zu nutzen. Im Moment können sie sovielen Teams angehören, wie sie wollen und kostenfrei unbegrenzt viele neue Teams erstellen. Beispiele für die Nutzung unserer Team-Features: Familien-Tagespläne oder Unternehmensplanung und Organisation +viele mehr. Die Nutzbarkeit dieser Features sind vielseitig </span>
     <span><h4>Schritt 5 - Informieren</h4>Informieren sie sich regelmäßig auf ihrem Dashboard über neue Funktionen und Updates, da vorraussichtlich noch einige Features hinzugefügt werden, um die Qualität ihrer Organisation zu verbessern</span><br><br>
     <span><a href="/users/login">Ich habe schon einen Account - Jetzt einloggen</a></span>
   </div>
</body>
</html>